/* 기본 틀 : 폰트,여백 설정 */
@font-face {
    src: url('font/NanumSquareRoundOTFL.otf') format("truetype");
    font-family: "NN";
    font-weight: 100;
}
@font-face {
    src: url('font/NanumSquareRoundOTFR.otf') format("truetype");
    font-family: "NN";
    font-weight: 400;
}
@font-face {
    src: url('font/NanumSquareRoundOTFB.otf') format("truetype");
    font-family: "NN";
    font-weight: 700;
}
@font-face {
    src: url('font/NanumSquareRoundOTFEB.otf') format("truetype");
    font-family: "NN";
    font-weight: 900;
}

/* 링크 파란색 방지 */
a{
    color: black;
}

.c_header {
    margin: 32px 20px 0px; 
    display: block;
    font-weight: 700;
}


.c_header .certification_header {
    display: flex;
    justify-content: space-between; 
    font-size: 18px;
    box-sizing : border-box;
}




/* 스꾸친 로고 (no_text) */
.certification2_logo{
    text-align: center;
    margin-top: 20%;
}

/* 제목 */
.certification2_title{
    text-align: center;
}

.certification2_title h1{
    font-weight: 300;
    margin-top: 0;
}

/* 설명 */
.certification2_text{
    margin-top: 10%;
    text-align: center;
    margin-bottom: 10px;
}

.certification2_text p{
    font-size: 17px;
    font-weight: 400;
}

.certification2_mailInfo{
    text-align: center;
}

.certification2_mailInfo p{
    font-size: 15px;
    font-weight: 400;
    color: #7c7c7c;
}



/* 이메일 인증 버튼 */
.certification2_btn{
    text-align: center;
}

.certification2_btn button{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 20px;
    color: white;
    width: 90%;
    height: 50px;
    border-radius: 0.7rem;
    border: none;
    background-color: #FFCF00;
    margin-top: 10px;
}

/* 주의사항 */
.certification2_explain{
    margin-top: 30px;
    text-align: center;
}

.certification2_explain p{
    font-size: 15px;
    color: #7c7c7c;
    margin-top: 5px;
    margin-bottom: 5px;
}