/* 기본 틀 : 폰트,여백 설정 */
*{
    font-family: 'NanumSquareRoundBold';
    margin:0;
}

.password_reset00 {
    margin: 32px 20px 0px; 
    font-size: 15px;
    font-weight: bold;
}

.password_reset00 .password_reset00_header{
    display: flex;
    justify-content: space-between; 
    margin-bottom: 35px;
    font-size: 18px;
}
/* header 왼쪽 부분: 뒤로가기 아이콘, 페이지 제목 */
.password_reset00 .password_reset00_hleft {
    display: flex;
}
.password_reset00 .password_reset00_hleft .password_reset00_pagetitle{
    padding-left: 15px;
}

#certification_emailtype{
    display: table-cell;
    width: 40%;
    vertical-align: middle;
    padding-left: 10px;
}

.certification_sel {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

#certification_email{
    margin-top: 25px;
    display: table;
    width: 90%;
    padding-left: 5%;
    align-items: center;
}

#certification_ID {
    display: table-cell;
    width: 40%;
}

.certification_int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}

.certification_box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #FFCF00;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    border-radius: 0.7rem;
    background: #fff;
    position: relative;
}

.certification_btn{
    text-align: center;
}

.certification_btn button{
    font-size: 17px;
    color: white;
    width: 90%;
    height: 50px;
    border-radius: 0.7rem;
    border: none;
    background-color: #FFCE00;
    margin-top: 10px;
}