/* 기본 틀 : 폰트,여백 설정 */
@font-face{
    src: url("../font/NanumSquareRoundL.ttf");
    font-family: "NN";
}

@font-face{
    src: url("../font/NanumSquareRoundOTFL.otf") format("truetype");
    font-family: "NN";
    font-weight: 100;
}

@font-face{
    src: url("../font/NanumSquareRoundOTFR.otf") format("truetype");
    font-family: "NN";
    font-weight: 400;
}

@font-face{
    src: url("../font/NanumSquareRoundOTFB.otf") format("truetype");
    font-family: "NN";
    font-weight: 700;
}

@font-face{
    src: url("../font/NanumSquareRoundOTFEB.otf") format("truetype");
    font-family: "NN";
    font-weight: 900;
}

@media only screen and (max-width: 900px){
    /* 폰트 */
    *{
        font-family: "NN";
        margin: 0;
    }

    /* 헤더 */
    .passwordReset00_A {
        margin: 32px 20px 0px; 
        font-size: 15px;
        display: block;
        font-weight: 700;
    }

    .passwordReset00_A .passwordReset00_header {
        display: flex;
        justify-content: space-between; 
        font-size: 18px;
        box-sizing : border-box;
    }

    /* 안내 */
    .password_noti{
        margin: 30px 0 0 30px;
        font-size: 16px;
    }

    /* 이메일 입력 */
    #passwordReset00_email{
        margin-top: 20px;
        display: table;
        width: 90%;
        padding-left: 5%;
        align-items: center;
    }

    #passwordReset00_ID {
        display: table-cell;
        width: 40%;
    }

    .passwordReset00_int {
        display: block;
        position: relative;
        width: 100%;
        height: 29px;
        border: none;
        background: #FFFCED;
        font-size: 15px;
    }

    .passwordReset00_box {
        display: block;
        width: 100%;
        height: 51px;
        padding: 10px 14px 10px 14px;
        box-sizing: border-box;
        border-radius: 0.7rem;
        background: #FFFCED;
        position: relative;
    }

    /* 이메일 타입 선택 */
    #passwordReset00_emailtype{
        display: table-cell;
        width: 40%;
        vertical-align: middle;
        padding-left: 10px;
    }

    .passwordReset00_sel {
        width: 100%;
        height: 29px;
        font-size: 15px;
        background: #FFFCED;
        background-size: 20px 8px;
        -webkit-appearance: none;
        display: inline-block;
        text-align: start;
        border: none;
        cursor: default;
        font-family: Dotum,'돋움',Helvetica,sans-serif;
    }

    /* 비밀번호 초기화 버튼 */
    .passwordReset00_btn{
        text-align: center;
    }

    .passwordReset00_btn button{
        font-size: 17px;
        color: white;
        width: 90%;
        height: 50px;
        border-radius: 0.7rem;
        border: none;
        background-color: #FFCE00;
        margin-top: 20px;
    }

    /* 비밀번호 초기화 문구 */
    .passwordReset00_explain{
        margin-top: 30px;
        text-align: center;
    }

    .passwordReset00_explain p{
        font-size: 15px;
        color: #7c7c7c;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}