/* 기본 틀 : 폰트,여백 설정 */
@font-face{
    src: url("../font/NanumSquareRoundL.ttf");
    font-family: "NN";
}

@font-face{
    src: url("../font/NanumSquareRoundOTFL.otf") format("truetype");
    font-family: "NN";
    font-weight: 100;
}

@font-face{
    src: url("../font/NanumSquareRoundOTFR.otf") format("truetype");
    font-family: "NN";
    font-weight: 400;
}

@font-face{
    src: url("../font/NanumSquareRoundOTFB.otf") format("truetype");
    font-family: "NN";
    font-weight: 700;
}

@font-face{
    src: url("../font/NanumSquareRoundOTFEB.otf") format("truetype");
    font-family: "NN";
    font-weight: 900;
}

@media only screen and (max-width: 900px){
    /* 폰트 */
    *{
        font-family: "NN";
        margin: 0;
    }

    /* 헤더 */
    .passwordReset01_A {
        margin: 32px 20px 0px; 
        font-size: 15px;
        display: block;
        font-weight: 700;
    }

    .passwordReset01_A .passwordReset01_header {
        display: flex;
        justify-content: space-between; 
        font-size: 18px;
        box-sizing : border-box;
    }

    /* 안내 */
    .passwordReset01_noti{
        margin: 30px 0 0 30px;
        font-size: 16px;
    }

    /* 입력 틀*/
    .password_reset01{
        width: 90%;
        margin: 20px auto 20px auto;
    }

    /* 비밀번호 입력 */
    .passwordReset01_box {
        display: block;
        width: 100%;
        height: 47px;
        padding: 8px 15px 8px 15px;
        box-sizing: border-box;
        border-radius: 15px;
        background: #FFFCED;
        position: relative;
    }

    .passwordReset01_int {
        display: block;
        position: relative;
        width: 100%;
        height: 27px;
        border: none;
        background: #FFFCED;
        font-size: 15px;
    }
    /* header 왼쪽 부분: 뒤로가기 아이콘, 페이지 제목 */

    .passwordReset01_text{
        margin-top: 5px;
        width: 100%;
    }

    /* 비밀번호 확인 간극 */
    #passwordReset01_password{
        padding-bottom: 10px;
    }

    /* 초기화 버튼 */
    .passwordReset01_btn{
        text-align: center;
    }

    .passwordReset01_btn button{
        font-size: 17px;
        color: white;
        width: 90%;
        height: 50px;
        border-radius: 0.7rem;
        border: none;
        background-color: #FFCE00;
        margin-top: 10px;
    }

    /* 초기화 설명 */
    .passwordReset01_explain{
        margin-top: 30px;
        text-align: center;
    }

    .passwordReset01_explain p{
        font-size: 15px;
        color: #7c7c7c;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}