/* 기본 틀 : 폰트,여백 설정 */
*{
    font-family: 'NanumSquareRoundBold';
    margin:0;
}

.password_reset00 {
    margin: 32px 20px 0px; 
    font-size: 15px;
    font-weight: bold;
}

.password_reset00 .password_reset00_header{
    display: flex;
    justify-content: space-between; 
    margin-bottom: 35px;
    font-size: 18px;
}


.register_box {
    display: block;
    width: 100%;
    height: 47px;
    padding: 8px 15px 8px 15px;
    box-sizing: border-box;
    border-radius: 15px;
    background: #FFFCED;
    position: relative;
}
.register_int {
    display: block;
    position: relative;
    width: 100%;
    height: 27px;
    border: none;
    background: #FFFCED;
    font-size: 15px;
}
/* header 왼쪽 부분: 뒤로가기 아이콘, 페이지 제목 */
.password_reset00 .password_reset00_hleft {
    display: flex;
}
.password_reset00 .password_reset00_hleft .password_reset00_pagetitle{
    padding-left: 15px;
}

.register_text{
    margin-top: 5px;
    width: 100%;
}

/* 비밀번호 확인 간극 */
#register_password{
    padding-bottom: 10px;
}


.certification_btn{
    text-align: center;
}

.certification_btn button{
    font-size: 17px;
    color: white;
    width: 90%;
    height: 50px;
    border-radius: 0.7rem;
    border: none;
    background-color: #FFCE00;
    margin-top: 10px;
}